<?php
$active_group = "cms";
$query_builder = TRUE;

$db['cms']['dsn'] = '';
$db['cms']['hostname'] = '127.0.0.1';
$db['cms']['username'] = 'root';
$db['cms']['password'] = '';
$db['cms']['database'] = 'fusion';
$db['cms']['port'] = 3306;
$db['cms']['dbdriver'] = 'mysqli';
$db['cms']['dbprefix'] = '';
$db['cms']['pconnect'] = FALSE;
$db['cms']['db_debug'] = (ENVIRONMENT !== 'production');
$db['cms']['cache_on'] = FALSE;
$db['cms']['cachedir'] = '';
$db['cms']['char_set'] = 'utf8';
$db['cms']['dbcollat'] = 'utf8_general_ci';
$db['cms']['swap_pre'] = '';
$db['cms']['encrypt'] = FALSE;
$db['cms']['compress'] = FALSE;
$db['cms']['stricton'] = FALSE;
$db['cms']['failover'] = array();
$db['cms']['save_queries'] = TRUE;

$db['account']['dsn'] = '';
$db['account']['hostname'] = '127.0.0.1';
$db['account']['username'] = 'root';
$db['account']['password'] = '';
$db['account']['database'] = 'auth';
$db['account']['port'] = 3306;
$db['account']['dbdriver'] = 'mysqli';
$db['account']['dbprefix'] = '';
$db['account']['pconnect'] = FALSE;
$db['account']['db_debug'] = (ENVIRONMENT !== 'production');
$db['account']['cache_on'] = FALSE;
$db['account']['cachedir'] = '';
$db['account']['char_set'] = 'utf8';
$db['account']['dbcollat'] = 'utf8_general_ci';
$db['account']['swap_pre'] = '';
$db['account']['encrypt'] = FALSE;
$db['account']['compress'] = FALSE;
$db['account']['stricton'] = FALSE;
$db['account']['failover'] = array();
$db['account']['save_queries'] = TRUE;
